<style>
.menu-drawer-links {
  position: relative;
  display: inline-block; 
}

.menu-drawer-links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
  transition: width 0.3s ease-in-out;
}

.menu-drawer-links:hover::after {
  width: 100%;
}
</style>





{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative w-full">
<div class="sticky top-0 z-50 left-0 w-full" x-data="{ mobileMenuOpen: false }">
  <div class="absolute w-full mx-auto px-4 sm:px-6 bg-black bg-opacity-35 mt-[8px]">
    <div class="flex justify-between items-center py-10 md:justify-center mx-auto">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-start md:flex-1 trunc">
        <img src="https://cdn.shopify.com/s/files/1/0900/4875/8049/files/Vector.png?v=1734618569" alt="">
      </div>

      <!-- HAMBURGER MENU BUTTON FOR MOBILE -->
      <div class="block md:hidden">
        <button x-on:click="mobileMenuOpen = !mobileMenuOpen" type="button" class="text-white inline-flex items-center justify-center focus:outline-none">
          <!-- HAMBURGER ICON (shown when mobileMenuOpen is false) -->
          <span x-show="!mobileMenuOpen">
            {% render 'icon-menu' %}
          </span>
          <!-- CLOSE ICON (shown when mobileMenuOpen is true) -->
          <span x-show="mobileMenuOpen">
            {% render 'icon-close' %}
          </span>
        </button>
      </div>

      <!-- DESKTOP NAVIGATION MENU -->
      <nav x-data="{ open: false }" class="hidden md:flex md:justify-center space-x-10">
        {% for link in linklists.main-menu.links %}
            {% if link.links != blank %}
              <div class="relative">
                <button x-on:click="open = !open" type="button" class="inline-flex items-center text-base text-white hover:text-white">
                  {{ link.title }}
                  {% render 'icon-dropdown' %}
                </button>
                <!-- DROPDOWN MENU -->
                <div x-show="open" @click.away="open = false" class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                  <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                    <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                      {% for childlink in link.links %}
                        <a href="{{ childlink.url }}" class="-m-3 p-3 flex items-start rounded-lg hover:bg-white-100">
                          <div class="ml-4">
                            <p class="text-white text-base font-medium">
                              {{ childlink.title }}
                            </p>
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <a href="{{ link.url }}" class="text-base text-white hover:text-white {% if link.active == true %}text-blue-900{% endif %}">{{ link.title }}</a>
            {% endif %}
        {% endfor %}
      </nav>

      <!-- DESKTOP ICONS AND LINKS -->
      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{ routes.cart_url }}" class="whitespace-nowrap text-base text-white hover:text-white">
          {% render 'icon-shopping-bag' %}
        </a>
      </div>
    </div>
  </div>

  <!-- MOBILE MENU CONTENT -->
  <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 transform scroll-smooth origin-top-left md:hidden">
    <div class="shadow-lg h-screen ring-1 ring-black ring-opacity-5 bg-[#000] bg-opacity-85 text-white w-full">
      <div class="p-5 divide-y-2 divide-white-50">
        <!-- MOBILE MENU HEADER WITH STORE NAME AND CLOSE BUTTON -->
        <div class="flex items-center justify-between py-4">
          <div>
            <h1 class="text-lg text-white-500 uppercase">{{ section.settings.mobile_menu_title }}</h1>
          </div>
          <div class="-mr-2">
            <button x-on:click="mobileMenuOpen = false" type="button" class="p-2 text-white-500">
              {% render 'icon-close' %}
            </button>
          </div>
        </div>

        <!-- MOBILE MENU LINKS -->
        <div class="pt-3 flex flex-row justify-around">
          <nav class="grid gap-y-7 w-full">
            {% for link in main_menu_linklist %}
              {% assign link_handle = link.handle | replace: '-', '_' %}
              {% if link.links != blank %}
                <div x-data="{ {{ link_handle }}: false }" class="relative">
                  <button 
                    x-on:click="{{ link_handle }} = !{{ link_handle }}" 
                    type="button" 
                    class="text-base bg-white hover:bg-white flex items-center justify-between w-full">
                    {% comment %} <div>{{ link.title }}</div> {% endcomment %}
                    {% render 'icon-dropdown' %}
                  </button>
                  <!-- CHILD MENU -->
                  <div x-show="{{ link_handle }}" class="grid gap-y-7 py-3">
                    {% for childlink in link.links %}
                      <a href="#" class="-m-3 p-3 mt-2 flex items-center rounded-md text-white-500 hover:text-white-900 hover:bg-white">
                        <span class="ml-3 text-base font-medium text-white-500">{{ childlink.title }}</span>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a href="#" class="menu-drawer-links w-full flex flex-col text-center items-center text-[20px] uppercase py-4 text-white">
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
{
    "name": "Header",
    "settings": [
      {
        "type": "liquid",
        "id": "liquid_text",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "mobile_menu_title",
        "label": "Title",
        "default": "Menu",
        "info": "This is the title of the mobile menu title"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu",
        "info": "This is the title of the mobile menu title"
      }
    ]
}
{% endschema %}
