<style>
  .span-cols-1 { grid-column: span 1; }
  .span-cols-2 { grid-column: span 2; }
  .span-cols-3 { grid-column: span 3; }
  .span-cols-4 { grid-column: span 4; }

  .relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-block-section {
    display: grid;
    grid-template-columns: repeat({{ section.settings.grid_columns }}, minmax(0, auto));
    gap: 10px;
  }

  @media screen and (max-width: 767px) {
    .image-block-section {
      display: grid;
      grid-template-columns: repeat({{ section.settings.mb_grid_columns }}, minmax(0, auto));
      gap: 10px;
    }
  }
</style>



<div class="image-grid-section grid justify-center">
  <div class="image-grid-container flex flex-row justify-center items-center "
       style="max-width: {{ section.settings.page_width }}px;
              padding-top: {{ section.settings.padding_top }}px;
              padding-bottom: {{ section.settings.padding_bottom }}px;">
      <div class="image-block-section">
        {% for block in section.blocks %}
          <div class="relative span-cols-{{ block.settings.column_span }}">
            <a href="{{ block.settings.image_url }}">
              <img 
                src="{{ block.settings.image | image_url: width: '1000' }}" 
                alt="image"
              >
            </a>
          </div>              
        {% endfor %}
    </div>
  </div>  
</div>



{% schema %}
{
  "name": "Image grid",
  "settings": [
    {
      "type": "number",
      "id": "page_width",
      "label": "Page width",
      "default": 1200
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "default": 20  
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "default": 20  
    },
    {
      "type": "number",
      "id": "grid_columns",
      "label": "Grid Columns"  
    },
    {
      "type": "number",
      "id": "mb_grid_columns",
      "label": "Mobile Grid Columns"  
    }
  ],
  "blocks": [
    {
      "type": "Image_block",
      "name": "Image_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_url",
          "label": "Image link"
        },
        {
          "type": "range",
          "id": "column_span",
          "label": "Column Span",
          "default": 1,
          "min": 1,
          "max": 4
        }
      ]
    }  
  ],
  "presets": [
    {
      "name": "Image grid",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
