<div class="products-section">
  <div class="products-container my-10">
    <div class="header-block flex-flex-col justify-center items-center px-8 py-10">
      <div class="header uppercase text-[40px] text-center">header</div>
      <div class="subheader text-center">
        I am the subheader
      </div>
    </div>
    <div class="content-block flex justify-center py-4">
      <div class="product-card w-[1300px] grid grid-cols-4 grid-rows-2 gap-4">
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="image h-[400px]">
            <a href="w-full relative overflow-hidden">
                <img 
                src="{{ section.settings.image | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            </a>
          </div>
          <div class="content flex flex-col justify-evenly h-[180px]">
            <div class="card-header text-[20px]">Aromatherapy Massage Oil</div>
            <div class="card-content">Essential oils blended for relaxation, stress relief, or energy.</div>
            <div class="card-price"><span class="text-[8px] pr-[4px]">FROM</span>R200</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Products Block",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Header"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Products Block"  
    }
  ]
}
{% endschema %}