
<div class="bg-[#000]"
     style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px">
  <div id="test-sec" class="flex flex-col px-[10px] md:px-[40px] items-{{ section.settings.alignment }}">
   
      {% if section.settings.headline != blank %}
        <h1 class="text-[40px]"
        style="color: {{ section.settings.text_color }};">{{ section.settings.headline }}</h1>
        
        <div class="flex flex-col items-{{ section.settings.sub-alignment }}">
          <div>{{ section.settings.subheadline }}</div>
        </div>
      {% endif %}
  </div> 
    
  <div class="flex flex-row justify-center">
    <div class="w-4/12 md:w-5/12 flex flex-row justify-center overflow-x-scroll">
      {% for block in section.blocks %}
        <div class="
        {% if block.settings.screens == 'md:hidden' %} hidden md:flex
        {% elsif block.settings.screens == 'hidden' %} flex md:hidden
        {% else %} flex 
        {% endif %}">
            <div class="w-full max-h-[200px] md:max-h-[300px] relative overflow-hidden">
            {% if block.settings.image_1 != blank %}
                <img 
                src="{{ block.settings.image_1 | image_url: width: '2000' }}" 
                alt=""
                class="w-full h-full object-cover"
                loading="lazy"
                >
            {% endif %}
            </div>
        </div>
      {% endfor %}
    </div>

    <div class="flex flex-col justify-center items-center w-4/12 md:w-2/12">
      <div class="flex flex-col items-center p-3">
        <div class="uppercase text-[24px] text-white">
          Follow us  
        </div>

        <div class="flex flex-row justify-center items-center py-8">
          <div class="soicial-1">
            {% render 'icon-instagram' %}
          </div>
          <div class="soicial-2">
            {% render 'icon-facebook' %}
          </div>
          <div class="soicial-3">
            {% render 'icon-linkedin' %}
          </div>  
        </div>

        <div class="uppercase text-white text-light">
            #HTSZA  
        </div>
      </div>
    </div>

    <div class="w-4/12 md:w-5/12 flex flex-row justify-center overflow-x-scroll">
    {% for block in section.blocks %}
      <div class="
      {% if block.settings.screens == 'md:hidden' %} hidden md:flex
      {% elsif block.settings.screens == 'hidden' %} flex md:hidden
      {% else %} flex 
      {% endif %} flex-grow">
        <div class="w-full max-h-[200px] md:max-h-[300px] relative overflow-hidden">
          {% if block.settings.image_2 != blank %}
              <img 
              src="{{ block.settings.image_2 | image_url: width: '2000' }}" 
              alt=""
              class="w-full h-full object-cover"
              loading="lazy"
              >
          {% endif %}
        </div>
      </div>
    {% endfor %}
    
    </div>
  </div>
</div>



{% schema %}
{
    "name": "Socials Gallery",
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#000"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text align",
            "default": "center",
            "options": [
                {
                    "value": "start",
                    "label": "left"
                },
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "end",
                    "label": "right"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "subheadline",
            "label": "Subheadline"
        },
        {
            "type": "select",
            "id": "sub-alignment",
            "label": "Text align",
            "default": "center",
            "options": [
                {
                    "value": "start",
                    "label": "left"
                },
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "end",
                    "label": "right"
                }
            ]
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 0,
            "max": 100,
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 0,
            "max": 100,
            "default": 20
        }
    ],
    "blocks": [
        {
            "name": "Block1",
            "type": "Block1",
            "settings": [
                {
                    "type": "select",
                    "id": "screens",
                    "label": "Enable / Disable",
                    "default": "flex",
                    "options": [
                        {
                            "value": "md:hidden",
                            "label": "Desktop Only"
                        },
                        {
                            "value": "hidden",
                            "label": "Mobile Only"
                        },
                        {
                            "value": "flex",
                            "label": "All"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image"
                }
            ]
        },
        {
            "name": "Block2",
            "type": "Block2",
            "settings": [
                {
                    "type": "select",
                    "id": "screens",
                    "label": "Enable / Disable",
                    "default": "flex",
                    "options": [
                        {
                            "value": "md:hidden",
                            "label": "Desktop Only"
                        },
                        {
                            "value": "hidden",
                            "label": "Mobile Only"
                        },
                        {
                            "value": "flex",
                            "label": "All"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name" : "Socials Gallery",
            "category": "Custom Sections"
        }
    ]
}
{% endschema %}