<style>
  summary::marker {
    content: none;
  }
</style>



<section class="media-section flex flex-col justify-center items-center">
  <div class="media-container max-w-[1920px] w-full flex flex-col justify-center">  
    <div class="faq__wrapper flex flex-col md:flex-row justify-center md:max-h-[800px]">
      <div class="image-block md:min-h-[400px] w-full md:w-2/5">
        <a href="{{ section.settings.image_url }}">
          <img 
            class="faq-image w-full h-auto md:hidden"
            src="{{ section.settings.mb_image | image_url: width: '1200' }}"
            srcset="{{ section.settings.mb_image | image_url: width: '1200' }} 768w"
            sizes="(max-width: 767px) 100vw, 100vw"
            alt=""
          >
          <img
            class="banner-image w-full h-full hidden md:block"
            src="{{ section.settings.dt_image | image_url: width: '1200' }}" 
            srcset="{{ section.settings.dt_image | image_url: width: '1200' }}"
            sizes="(max-width: 767px) 100vw, 100vw"
            alt="" 
          />  
        </a>
      </div>
      <div class="w-full md:w-3/5 md:pl-[20px] bg-[#f1f1f1] overflow-hidden">
        <div class="faq__accordion max-w-[900px] px-[20px] md:px-0 flex flex-col justify-between">
        <div class="man h-[90%] overflow-scroll">
        {%- for block in section.blocks -%}
          {%- if previous_block.type != 'article' -%}
            <accordion-group>
          {%- endif -%}

          <details id="faq-{{ section.id }}-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <summary class="flex flex-row justify-between bg-[#f1f1f1] p-2">
              <span class="u-large text-black font-chivo text-[16px] font-bold leading-[1.4] uppercase">{{ block.settings.title | escape }}</span>
              {% render 'icon-plus' %}
            </summary>

            <details-content>
              {% unless block.settings.text == blank %}
                <div class="faq__accordion__item-wrap pl-2 pb-2 rte text-[14px] text-black font-chivo font-light leading-[1.4]">
                  {{ block.settings.text }}
                </div>
              {% endunless %}
              {% unless block.settings.liquid-text == blank %}
                <div class="faq__accordion__item-wrap rte text-[14px] text-black font-chivo font-light leading-[1.4]">
                  {{ block.settings.liquid-text }}
                </div>
              {% endunless %}
            </details-content>
          </details>

          {%- if next_block.type != 'article' -%}
            </accordion-group>
          {%- endif -%}
        {%- endfor -%}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQs",
  "class": "js-section__faq-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "dt_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Desktop Image"
    },
    {
      "type": "header",
      "content": "Call to action"
    },
    {
      "type": "text",
      "id": "cta_link_title",
      "label": "Link label"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "Style",
      "options": [
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "button",
          "label": "Button"
        }
      ],
      "default": "link"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom padding",
      "unit": "px",
      "min": 0,
      "max": 120,
      "step": 3,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Article heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use these articles to answer questions that customers have about your products and services. You can use text, links and images and also group articles into categories.</p>"
        },
        {
          "type": "liquid",
          "id": "liquid-text",
          "label": "liquid-text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs",
      "category": "Custom"
    }
  ]
}
{% endschema %}
